include ../blocks/socials
mixin footer(navActive = 0, modClass)
    footer(class= modClass || "").footer
        .footer__top
            .footer__top-section
                .footer__text= common.footer.description
            .footer__top-section.footer__top-section_centered
                .footer__navigation
                    ul.inline-nav.footer__nav
                        each item, index in common.footer.nav
                            li(class="inline-nav__item")
                                a(
                                    class=`inline-nav__link ${navActive == index ? ' inline-nav__link_active' : ''}`
                                    href=item.link
                                )= item.text
                    +socials(common.socials, false, "gray")
            .footer__top-section.footer__top-section_centered
                .quote
                    .qoute__text= common.footer.quote.text
                    |
                    .quote__author= common.footer.quote.author
        .footer__bottom
            .copyright= common.footer.copyright