extends ../_template
include ../sections/head
include ../sections/footer
include ../blocks/hero
include ../blocks/title
include ../blocks/slider
include ../blocks/svg_image

block content
    +head()
        +hero(common.hero)
    section.works
        .works__triangles
            .works__triangle
                +svg_image("about_bg_left", "triangle triangle_feel_white", {viewBox: "0 0 601 105"})
            .works__triangle
                +svg_image("about_bg_right", "triangle triangle_feel_white", {viewBox: "0 0 601 105"})
        .works__title
            +title(works.titles.works, {text: "title__text_fz_63"})
        //- section.works__left
        //-     .work-info
        //-         +title(works.slider[0],"work-info__title")
        //-         |
        //-         .work-info__technology= works.slider[0].skills
        //-         |
        //-         +btn("Посмотреть сайт").work-info__btn
        //- section.works__right
        //-     +slider(works.slider)
    section.works__talks
        .works__talks-title
            +title(works.titles.talks, {text: "title__text_fz_63"})
        .works__comments
            each comment in works.comments
                .comment.works__comment
                    .comment__picture-wrapper
                        img(src= comment.img).comment__picture
                    .comment__text
                        =comment.text
                    |
                    .comment__author
                        =comment.name
                    |
                    .comment__subauthor
                        =comment.position
        .works__contact-form
            .contact-form
                +title(works.titles.contacts, {mainClass: "contact-form__title"})
                form.contact-form__form
                    .contact-form__fields
                        input(
                            name="name"
                            type="text"
                            placeholder="Имя"
                            class="contact-form__input"
                        )
                        input(
                            name="email"
                            type="email"
                            placeholder="Email"
                            class="contact-form__input"
                        )
                        textarea(
                            name="message",
                            placeholder="Ваше сообщение",
                            cols="30", 
                            rows="10",
                            class="contact-form__textarea"
                        )
                    .contact-form__buttons
                        button.contact-form__button.btn.btn_square= "Отправить"
                        button.contact-form__button.btn.btn_square= "Очистить"
        .works__arrow-up
            +svg_image("arrow_down", "arrow-down arrow-down_up", {viewBox: "0 0 25.18 16.164"})
    +footer(0, "footer_transparent")

